body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:wght@100..900&display=swap");

:root {
  --background-primary-color: #ffffff;
  --secondary-color: #f5f5f5;
  --tertiary-color: #000000;

  --prymari-color: #8f0101;
  --secondary-color-red: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --font-family-primary: "Montserrat", sans-serif;
  --title-Weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}
body {
  font-family: var(--font-family-primary);
  color: var(--text-primary-color);
}
.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-Weight);
  margin: 0;
  text-align: center;
}
.section-title hr {
  width: 180px;
  height: 5px;
  border: none;
  background-color: var(--secondary-color-red);
  margin: 16px auto 32px;
}
.button {
  display: inline-block;
  text-decoration: none;
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-Weight);
  font-size: 20px;
  background-color: var(--secondary-color-red);
  border-radius: 10px;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--prymari-color);
  }
}
