header {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}
.logo-Bussula {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.navegation-menu {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--tertiary-color);
}

nav {
  display: none;
}
.list-links {
  list-style: none;
}
.list-links li {
  margin: 16px;
}

.list-links li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 23px;
}

@media screen and (min-width: 768px) {
  .navegation-menu {
    margin-top: 0px;
    width: 500px;
  }
  .navegation-menu label {
    display: none;
  }
  .navegation-menu nav {
    display: block;
  }
  .navegation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .navegation-menu ul li {
    margin: 0;
  }
}
