.categories-viagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}
.viagens {
  width: 312px;
  height: 220px;
  background-color: var(transparent);
  text-align: center;
  border-radius: 15px;
  padding: 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary-color);
}
.viagens .h3 {
  font-size: 28px;
  font-weight: var(--title-Weight);
}
@media screen and (max-width: 768px) {
  .categories-viagens {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .categories-viagens {
    width: 430px;
  }
}
@media screen and (max-width: 1440px) {
  .categories-viagens {
    width: 430px;
  }
}
